@import "variables";

// Layout
.main-container {
  background-color: #FFF;
  border: 2px dashed $gray-lightest;
  padding: 20px 40px 40px;
  border-radius: 10px;
}

// Styles

p {
  margin: 0 0 ($line-height-computed);
  @media (min-width: $screen-sm-min) {
    text-align: justify;
  }
}

figcaption {
  font-style: italic;
  font-family: $headings-font-family;
  &::before {
    content: url('../images/chevron.png');
    margin-right: 0.5em;
  }
}

h1, .h1,
h2, .h2 {
  margin-top: $line-height-computed * 2;
  margin-bottom: ($line-height-computed * 1.5);
}

h1, h2 {
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
}

li {
  list-style-image: url('../images/chevron.png');
}

a {
  transition: all 0.3s ease;
}
.content a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

//Header
.header {
  margin-bottom: 40px;
  h1, h2 {
    margin: 0;
  }
}

.intro {
  font-size: 1.1em;
}


// Content

// Video
.video {
  text-align: center;
  iframe {
    border-radius: 15px;
    border: 2px dashed $gray-lighter;
    max-width: 100%;
  }
  figcaption {
    text-align: left;
  }
}

@media (min-width: $screen-sm-min) {
  .col-left {
    p, h3 {
      text-align: right;
    }
  }
  .col-right p {
    text-align: left;
  }
  h3.spacing {
    margin-top: $line-height-computed * 3;
  }
}
.schema {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    padding-top: 300px;
    img {
      max-width: 120%;
    }
  }
  @media (min-width: $screen-md-min) {
    padding-top: 180px;
  }
}

// Vignettes
ul.thumbnails {
  padding-left: 0;
  list-style: none;
  img {
    margin-bottom: 5px;
  }
  a {
    display: block;
    &:hover {
      background-color: $gray-lightest;
      margin: -8px -8px 0 -8px;
      padding: 8px 8px 0 8px;
    }
  }
  li {
    list-style: none;
    margin-bottom: 40px;
  }
  @media (min-width: $screen-sm-min) {
    text-align: center;
  }
}

/* Livres */
.livres a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
img.livre {
  border: solid 1px $c-gray-d;
  height: 150px;
  float: left;
  margin-right: 15px;
  @media (min-width: $screen-sm-min) {
    float: none;
    margin-bottom: 15px;
  }
}


// Footer
footer h2 {
  text-transform: none;
}
#footer {
  padding-bottom: 40px;
}
