

/* POLICES */
/* On utilise les polices Kreon (titres et navigation) et Amble (contenu) ; Kreon est dispo sur Googlefont, et sinon Kreon et Amble sont dans les fichiers joints
note : pour éviter les bricolages du navigateur :
> pour Kreon utiliser la propriété font-weight
> pour Amble utiliser la propriété font-family
*/

@import url(https://fonts.googleapis.com/css?family=Kreon:400,300,700);

@font-face {
    font-family: AmbleRegular;
    src: url(../fonts/amble/Amble-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AmbleBold;
    src: url(../fonts/amble/Amble-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AmbleItalic;
    src: url(../fonts/amble/Amble-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: 'AmbleBold';
}
