// Navigation

// Portail nav on top
.navbar-portail {
  text-transform: uppercase;
  font-family: $headings-font-family;
  padding-top: 15px;
  .navbar-nav > li {
    margin-left: 15px;
    margin-bottom: 10px;
    > a {
      @include text-hide();
    }
  }
  .nav-portail > a {
    @include text-hide();
    background: url('../images/lien_portail_active.png') no-repeat left top;
    width: 81px;
    height: 27px;
    &:hover {
      background-image: url('../images/lien_portail_active.png');
    }
  }
  .nav-assemblees > a {
    background: url('../images/lien_assemblee.png') no-repeat left top;
    width: 125px;
    height: 27px;
    &:hover {
      background-image: url('../images/lien_assemblee_active.png');
    }
  }
  .nav-chambres > a {
    background: url('../images/lien_chambre.png') no-repeat left top;
    width: 125px;
    height: 27px;
    &:hover {
      background-image: url('../images/lien_chambre_active.png');
    }
  }
  .nav-agenda > a {
    background: url('../images/lien_agenda.png') no-repeat left top;
    width: 129px;
    height: 27px;
    &:hover {
      background-image: url('../images/lien_agenda_active.png');
    }
  }
}

// Main nav
.navbar-main {
  border-top: 2px dashed $gray-lighter;
  border-bottom: 2px dashed $gray-lighter;
  text-transform: uppercase;
  font-family: $headings-font-family;
  font-size: $font-size-h3;
  margin-bottom: 50px;
  ul > li > a {
    color: $navbar-main-link-color;
    &:hover  {
      color: $navbar-main-link-hover-color;
      background-color: $navbar-main-link-hover-bg;
    }
    &::after {
      content: " >>";
    }
  }
}
