@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

/* colors */
$gray-lighter:          #e8e8e8;
$gray-lightest:         #f5f5f5;
$c-blue:                #1082a8;
$c-orange:              #e87151;
$c-gray-9:              #999999;
$c-gray-d:              #d7d7d7;
$c-gray-7:              #707070;

$brand-primary:         $c-blue;

$font-size-base:        14px;
$body-bg:               $gray-lightest;
$text-color:            $gray-light;
$link-color:            $brand-primary;
$link-hover-color:      $c-orange;
//** Link hover decoration.
$link-hover-decoration: none;

$font-family-sans-serif:  "AmbleRegular", Helvetica, sans-serif;
$font-family-serif:       "Kreon", Georgia, Times, serif;

$font-family-base:        "AmbleRegular", Helvetica, sans-serif;

$font-size-h1:            floor(($font-size-base * 2.15));
$font-size-h2:            22px; // floor(($font-size-base * 1.7)); // 22px
$font-size-h3:            18px; // ceil(($font-size-base * 1.5)); // 18px
$font-size-h4:            ceil(($font-size-base * 1.15));

$headings-font-family:    "Kreon", Georgia, Times, serif;

//** Navbar main

// Navbar links
$navbar-main-link-color:                #777;
$navbar-main-link-hover-color:          $link-hover-color;
$navbar-main-link-hover-bg:             transparent;
